html,
body {
    height: 100% !important;
    font-family: $primary_font;
}

nav {
    background-color: $navbar !important;
}

.no-shadows {
    box-shadow: none !important;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand-logo {
            color: #000;
            padding: 0;
            margin: 0;
            margin-left: 30px;
            font-size: 35px;
            font-family: $primary_font
        }
    }

    .right {
        a {
            color: #000;
            padding: 0;
            margin: 0;
            margin-right: 30px;
            font-size: 25px;
            font-family: $primary_font
        }
    }
}

.nav-wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;

    .brand-logo {
        color: #000;
        padding: 0;
        margin: 0;
        margin-left: 30px;
        font-size: 35px;
        font-family: $primary_font
    }
}

.row .col.s2 {
    margin: 0;
}

.main-content {
    padding: 0 !important;
    margin-top: 19px !important;
    min-height: 100vh !important;
    display: flex;
    flex-wrap: wrap;
    // background-color: #675fa8;

    .column {
        flex: 25%;
        height: auto;
        img {
            padding: 5px;
            width: 100%;
            vertical-align: middle;
        }
    }
}


.input-field input:focus+label {
    color: $primary_color !important;
  }
  
  .row .input-field input:focus {
    border-bottom: 1px solid $primary_color !important;
    box-shadow: 0 1px 0 0 $primary_color !important
  }
  
  ul.dropdown-content.select-dropdown li span {
    color: $primary_color;
  }
  
  [type="checkbox"]+label {
    display: inline !important;
  }
  
  .checkbox_primary[type="checkbox"]:checked+span:not(.lever):after {
    border: 2px solid $primary_color;
    background-color: $primary_color;
  }
  
  [type="radio"]:checked+label::after,
  [type="radio"].with-gap:checked+label::after {
    background-color: $primary_color !important;
  }
  
  [type="radio"]:checked+label::after,
  [type="radio"].with-gap:checked+label::before,
  [type="radio"].with-gap:checked+label::after {
    border: 2px solid $primary_color !important;
  }
