// Colors
$primary_color: #FFFFFF;
$second_color: #2E2E2E;
$borders_color: #2E2E2E;
$borders_hover_color: #5a5858;
$primary_font: 'Montserrat', sans-serif;

@import "common.scss";
@import "tabs.scss";