.tabs {
    margin-left: 30px !important;
    width: 70% !important;
    margin: 0;
    display: flex;
    justify-content: left;

    .tab {
        width: 20%;
        font-size: 15px;
        font-weight: 500;
        background: $primary_color;

        a {
            font-family: $primary_font;
            padding: 0;
            color: #fff !important;
        }
    }
}
.tabs .tab a:hover  {
    background-color: $hover_tab !important;
    // border-bottom: solid 2px $borders_hover_color;
}

.tabs .tab a:focus {
    background-color: $active_tab !important;
}

.tabs .tab a.active {
    background-color: $active_tab !important;
}

.tabs .indicator {
    border-bottom: solid 2px $borders_color;
}