<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/css/main.css" />
</head>

<body>
    <nav class="nav-extended no-shadows">
        <div class="nav-wrapper">
            <div class="left">
                <a href="/" class="brand-logo">Kondratieva Anastasia</a>
            </div>
            <div class="right">
                <a href="/me">Обо мне</a>
            </div>
        </div>
    </nav>

    <!-- TABS -->
    <ul class="tabs">
        <li class="tab">
            <a class="active black-text" href="#graphic">Графика</a>
        </li>
        <li class="tab">
            <a class="black-text" href="#pictorial-art">Живопись</a>
        </li>
        <li class="tab">
            <a class="black-text" href="#film-sketches">Киноэскизы</a>
        </li>
        <li class="tab">
            <a class="black-text" href="#storyboard">Раскадровка</a>
        </li>
        <li class="tab">
            <a class="black-text" href="#sketchbook">Скетчбук</a>
        </li>
    </ul>
    <!-- END TABS -->

    <div class="container">
        <div class="row">

            <div id="graphic" class="col s12 main-content"></div>
            <div id="pictorial-art" class="col s12 main-content">
                <p>pictorial-art</p>
            </div>
            <div id="film-sketches" class="col s12 main-content">
                <p>film-sketches</p>
            </div>
            <div id="storyboard" class="col s12 main-content">
                <p>storyboard</p>
            </div>
            <div id="sketchbook" class="col s12 main-content">
                <p>sketchbook</p>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="../static/scripts/materialize.min.js"></script>
    <script src="../static/scripts/bundle.js"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });

        document.addEventListener("DOMContentLoaded", function () {
            $('.preloader-background').delay(500).fadeOut('slow');
            $('.preloader-wrapper').delay(500).fadeOut();
        });
    </script>
</body>

</html>