<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/css/main.css" />
</head>

<body>

    <p>&nbsp;</p>

    <div class="container">
        <div class="row">
            <form enctype="multipart/form-data" action="/upload-images" method="post" class="pure-form pure-form-aligned">
                <fieldset>

                    <fieldset>
                        <label for="imagefile">Image File</label>
                        <input id="imagefile" type="file" name="imagefile" />
                    </fieldset>

                    <input type="submit" class="pure-button pure-input-1-2 pure-button-primary" value="Upload Image">

                    <fieldset>
            </form>
        </div>
    </div>
</body>

</html>